body {
  min-height: 100vh;
}

.home-content {
  display: flex;
  justify-content: flex-start;
  margin-left: 32px;
  height: 70vh;
}

.home-content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
}


.home-text > h1 {
  max-width: 653px;
  color: #000;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.home-text > h2 {
  margin-top: 12px;
  max-width: 653px;
  color: #000;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 32px;
  margin-bottom: 32px; */
  width: 200px;
}

.btn-hover {
  background-color: transparent;
  border: 2px solid rgb(199, 222, 230) !important;
  border-radius: 40px;
  width: 300px;
  height: 80px;
  font-size: 20px;
  -webkit-transition: ease-out .5s;
  -moz-transition: ease-out .5s;
  transition: ease-out .7s;
}

.btn-hover:hover {
  background-color: rgb(199, 222, 230);
  border: 2px solid rgb(199, 222, 230) !important;
  box-shadow: inset 400px 0 0 0 rgb(199, 222, 230);
}

#profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}